<%- include('../../partials/header.ejs') %>

<body>
<%- include('../../partials/homenavBar.ejs') %>

<div class="container">
    <div class="list-group mt-5">
        <% result.articles.rows.forEach( article => { %>
            <a href="/<%= article.slug %>"
               class="list-group-item list-group-item-action mt-3 rounded p-3 lead border border-dark">
                <%= article.title %>
            </a>
        <% }) %>

        <div class="row">
            <div class="col col-12">
                <% if(result.page > 1){ %>
                    <a href="/article/page/<%= result.page - 1 %>" class="float-start btn btn-primary mt-3"> <<< Prev</a>
                <% }else if (result.page === 1) {%>
                        <a href="/" class="float-start btn btn-primary mt-3"> <<< Prev</a>
                    <%}%>

                <% if(result.next){ %>
                    <a href="/article/page/<%= result.page + 1 %>" class="float-end btn btn-primary mt-3">Next >>></a>
                <% } %>

            </div>
        </div>

    </div>
</div>

<%- include('../../partials/footer.ejs') %>